.course-detail-container {
    margin: 2rem auto;
    padding: 0 1rem;
    gap: 2em;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.course-detail-title {
    color: var(--second-color);
    text-align: center;
    font-size: 2.2rem;
}

.action-detail-course{
    display: flex;
    justify-content: space-around;
}