.courses-container {
    margin: 2rem auto;
    padding: 0 1rem;
    width: 50%;
}

.courses-title {
    color: var(--second-color);
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-align: center;
}



#link-detail {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
    color: black;
}

#link-detail:hover {
    color: #1e40af;
}

#link-detail:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    text-decoration: black;
}

#link-detail::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #2563eb;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
#link-detail:visited{
    text-decoration: none;
}

.msg {
    text-align: center;
    padding: 2rem;
    color: #e74c3c;
    background-color: #fde8e8;
    border-radius: 8px;
    max-width: 600px;
    margin: 2rem auto;
}

@media (max-width: 768px) {
    .courses-table {
        display: block;
        overflow-x: auto;
    }

    .courses-title {
        font-size: 1.8rem;
    }

    .courses-table th,
    .courses-table td {
        padding: 0.75rem;
    }
}
