#select-courses {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    transition: all 0.2s ease;
    margin-bottom: 1em;
}

.container-action-sub{
    display: flex;
}
#btn-enroll-course{
    border-radius: 6px;
    padding: 1em;
    margin: 0 auto;
    background-color: var(--third-color);
    color: white;
    border: 1px solid var(--second-color);
    &:hover{
        background-color: white;
        color: var(--main-color);
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0,0,0,0,0.2);
    }
}