* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #ede8f5;
  --main-color: #8697c4;
  --second-color: #3D52A0;
  --third-color: #7091E6;
}

body {
  background-color: var(--main-bg-color);
}

ul>li {
  list-style: none;
}

a {
  text-decoration: none;
}