.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--main-color);

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            height: 50px;
        }
        p{
            position: relative;
            bottom: 5px;
            font-size: 0.8em;
            color: snow;
        }
    }
}